header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #FFF;
    z-index: 3;
}

.header-back {
    position: absolute;
    top: 0;
    left: 10px;
}

.header-title {
    text-align: center;
}

main {
    padding: 0 0 150px;
}

.go-top {
    display: inline-block;
    width: 50px;
    height: 28px;
    line-height: 28px;
    border-radius: 15px 0 0 15px;
    background: linear-gradient(to right, #4EB0FF, #075ADD);
    text-align: center;
    color: #FFF;
    position: fixed;
    bottom: 100px;
    right: 0;
    display: none;
}
/*服务超市/人才评测 banner*/
/*banner*/
.fw-banner {
    overflow: hidden;
    padding: 70px 20px 20px;
}

.fw-info {
    color: #FFF;
    margin-top: 5px;
}
.fw-info p{
    font-size: 26px;
    margin-bottom: 10px;
}
.fw-info span{
    font-size: 12px;
}

/*footer*/
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
    background: #FFF;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-around;
    padding-top: 2px;
}

.foo-item {
    width: 33%;
    text-align: center;
    color: #AEB3C0;
    font-size: 12px;
}

.foo-item .img-box {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.foo-item.on p {
    color: #277BFF;
}