header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #FFF;
    z-index: 3;
}

.header-back {
    position: absolute;
    top: 0;
    left: 10px;
}

.header-title {
    text-align: center;
}

main {
    padding: 0 0 150px;
}

.go-top {
    display: inline-block;
    width: 50px;
    height: 28px;
    line-height: 28px;
    border-radius: 15px 0 0 15px;
    background: linear-gradient(to right, #4EB0FF, #075ADD);
    text-align: center;
    color: #FFF;
    position: fixed;
    bottom: 100px;
    right: 0;
    display: none;
}